# Montu Python 
## Astronomical ephemerides for the Ancient World
## Test: Stellar catalogue

In [1]:
# Montu packages and data
from montu import *

# These magic commands are intended to allow updating the packages if they change
%load_ext autoreload
%autoreload 2

In [12]:
data = pd.read_csv('asu.tsv',sep=';',header=88)
data

,_Glon,_Glat,_RAJ2000,_DEJ2000,_Elon2000,_Elat2000,HR,Name,HD,FK5,...,GLAT,Vmag,B-V,SpType,pmRA,pmDE,Parallax,RadVel,Dmag,Sep
0,114.444683,-16.878665,001.291250,+45.229167,022.867788,+40.168262,1,,3,,...,-16.88,6.70,0.07,A1Vn,-0.012,-0.018,,-18,4.2,21.60000000000000142
1,098.327534,-61.139797,001.265833,-0.503056,000.961320,-0.965043,2,,6,,...,-61.14,6.29,1.10,gG9,0.045,-0.060,,14,,NaN
2,093.754038,-65.932553,001.333750,-5.707500,358.945562,-5.765455,3,33 Psc,28,1002,...,-65.93,4.61,1.04,K0IIIbCN-0.5,-0.009,0.089,0.014,-6,2.5,0.00000000000000000
3,106.186507,-47.982972,001.425000,+13.396111,006.706500,+11.708996,4,86 Peg,87,2004,...,-47.98,5.51,0.90,G5III,0.045,-0.012,,-2,,NaN
4,117.034840,-3.916935,001.566667,+58.436667,033.934291,+50.901155,5,,123,,...,-3.92,5.96,0.67,G5V,0.263,0.030,0.047,-12,0.8,1.39999999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9105,307.683594,-43.794914,001.127917,-72.897778,308.107507,-61.547830,9106,,225233,,...,-43.80,7.31,0.44,F2V,0.010,-0.054,,8,,NaN
9106,112.178535,-27.238331,001.224167,+34.659722,016.419661,+30.982969,9107,,225239,2002,...,-27.24,6.12,0.62,G2V,0.772,0.089,0.035,4,,NaN
9107,308.184066,-45.211542,001.172083,-71.436944,310.618122,-60.731632,9108,,225253,1001,...,-45.21,5.59,-0.12,B8IV-V,0.028,-0.014,,-3,,NaN
9108,110.218368,-35.072165,001.233333,+26.648889,012.375468,+23.819615,9109,,225276,,...,-35.07,6.25,1.40,K4IIIb,0.110,-0.012,,-5,4.5,17.50000000000000000
9109,117.399957,-1.058922,001.275833,+61.314167,036.781613,+53.189682,9110,,225289,,...,-1.06,5.80,-0.09,B8IVpHgMn,0.015,0.005,,14,,NaN

In [14]:
cond = (data.Name == '87Alp Tau')
cond.sum()

0

In [24]:
float(data.iloc[1548-91]._RAJ2000)

68.98

In [25]:
data.iloc[1548-91]

_Glon                   180.971914
_Glat                   -20.248506
_RAJ2000                068.980000
_DEJ2000                +16.509167
_Elon2000               069.789013
_Elat2000                -5.467439
HR                            1457
Name                     87Alp Tau
HD                           29139
FK5                            168
ADS                           3321
VarID                    Alp Tau
RAJ2000                 04 35 55.2
DEJ2000                  +16 30 33
GLON                        180.97
GLAT                        -20.25
Vmag                          0.85
B-V                           1.54
SpType          K5+III
pmRA                         0.063
pmDE                        -0.190
Parallax                     0.048
RadVel                          54
Dmag                           9.8
Sep          121.70000000000000284
Name: 1457, dtype: object

In [21]:
MonTime(0).jtd

2451545.0

In [27]:
from astroquery.vizier import Vizier

In [32]:
catalog_list = Vizier.find_catalogs('Bright Star Catalogue')

</>

In [35]:
Vizier.ROW_LIMIT = -1
Vizier.get_catalogs(['V/50'])

TableList with 2 tables:
	'0:V/50/catalog' with 11 column(s) and 9110 row(s)
	'1:V/50/notes' with 4 column(s) and 9190 row(s)

Check: 

- https://viyaleta.medium.com/how-to-make-a-sky-map-in-python-a362bf722bb2
- https://github.com/kadrlica/skymap/tree/master/tutorial 
- https://levelup.gitconnected.com/how-to-use-python-to-create-custom-star-maps-for-your-next-stargazing-journey-9908b421f30e
- https://www.datastro.eu/explore/dataset/list-of-iau-approved-star-names-as-of-24112016/table/?disjunctive.constellation 
-

In [37]:
!pip install skyfield

Requirement already satisfied: skyfield in /Users/jorgezuluagacallejas/opt/anaconda3/lib/python3.9/site-packages (1.42)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jorgezuluagacallejas/opt/anaconda3/lib/python3.9/site-packages (from skyfield) (2021.10.8)
Requirement already satisfied: jplephem>=2.13 in /Users/jorgezuluagacallejas/opt/anaconda3/lib/python3.9/site-packages (from skyfield) (2.17)
Requirement already satisfied: numpy in /Users/jorgezuluagacallejas/opt/anaconda3/lib/python3.9/site-packages (from skyfield) (1.22.4)
Requirement already satisfied: sgp4>=2.2 in /Users/jorgezuluagacallejas/opt/anaconda3/lib/python3.9/site-packages (from skyfield) (2.20)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [38]:
from skyfield.projections import build_stereographic_projection

In [43]:
build_stereographic_projection(Dictobj(position=[0,0,0]))

AttributeError: 'list' object has no attribute 'au'

In [46]:
data = pd.read_csv('list-of-iau-approved-star-names-as-of-24112016.csv',sep=';')
data

,IAU Name,Designation,ID,Constellation,#,WDS J,V magnitude,RA (J2000),Dec (J2000),Approval Date
0,Brachium,HR 5603,σ,Lib,A,15041-2517,3.25000000000000000,226.01756700000001388,-25.28196099999999902,2017-09-05
1,Capella,HR 1708,α,Aur,Aa,05167+4600,0.08000000000000000,79.17232799999999315,45.99799099999999896,2016-06-30
2,Atria,HR 6217,α,TrA,-,16487-6902,1.90999999999999992,252.16622899999998708,-69.02771199999999396,2016-07-20
3,Cebalrai,HR 6603,β,Oph,-,-,2.75999999999999979,265.86813599999999269,4.56730000000000036,2016-08-21
4,Hatysa,HR 1899,ι,Ori,Aa,05354-0555,2.79999999999999982,83.85825800000000640,-5.90990099999999963,2017-09-05
...,...,...,...,...,...,...,...,...,...,...
325,Sulafat,HR 7178,γ,Lyr,-,18589+3241,3.25000000000000000,284.73592800000000125,32.68955700000000064,2016-08-21
326,Taiyi,HR 4916,8,Dra,-,-,5.23000000000000043,193.86895100000000980,65.43847399999999936,2017-06-30
327,Misam,HR 941,κ,Per,Aa,03095+4451,3.79000000000000004,47.37404800000000193,44.85754099999999767,2017-09-05
328,Mizar,HR 5054,ζ,UMa,Aa,13239+5456,2.22999999999999998,200.98142899999999145,54.92536199999999980,2016-06-30
329,Mira,HR 681,ο,Cet,Aa,02193-0259,6.46999999999999975,34.83661699999999684,-2.97764000000000006,2016-06-30

In [47]:
cond = (data['IAU Name'] == 'Aldebaran')
cond.sum()

1

In [51]:
D2H(data[cond]['RA (J2000)']/15)

'04:35:55.239'

In [53]:
data[cond][['ID','Constellation']]

   ID Constellation
87  α           Tau

In [54]:
Montu._wget('https://raw.githubusercontent.com/mirandadam/iau-starnames/master/catalog_data/IAU-CSN.tsv','IAU-CSN.tsv')

43.3kB [00:00, 7.28MB/s]

In [58]:
data = pd.read_csv('IAU-CSN.tsv',sep='\t')
data

,Name/ASCII,Name/Diacritics,Designation,ID,ID/Diacritics,Con,#,WDS_J,mag,bnd,HIP,HD,RA(J2000),Dec(J2000),Date,notes
0,Absolutno,Absolutno,XO-5,_,_,Lyn,_,_,11.95,G,_,_,116.71650599999999542,39.09457199999999943,2019-12-17,NaN
1,Acamar,Acamar,HR 897,tet01,θ1,Eri,A,02583-4018,2.88,V,13847,18622,44.56531100000000123,-40.30467199999999650,2016-07-20,*
2,Achernar,Achernar,HR 472,alf,α,Eri,A,_,0.45,V,7588,10144,24.42852299999999843,-57.23675300000000021,2016-06-30,NaN
3,Achird,Achird,HR 219,eta,η,Cas,A,00491+5749,3.46,V,3821,4614,12.27621300000000026,57.81518700000000166,2017-09-05,NaN
4,Acrab,Acrab,HR 5984,bet,β,Sco,Aa,16054-1948,2.56,V,78820,144217,241.35929999999999040,-19.80545299999999997,2016-08-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,Zibal,Zibal,HR 984,zet,ζ,Eri,Aa,03158-0849,4.80,V,15197,20320,48.95843599999999896,-8.81973100000000088,2016-09-12,NaN
447,Zosma,Zosma,HR 4357,del,δ,Leo,_,11141+2031,2.56,V,54872,97603,168.52708899999998948,20.52371799999999880,2016-07-20,NaN
448,Zubenelgenubi,Zubenelgenubi,HR 5531,alf02,α2,Lib,Aa,14509-1603,2.75,V,72622,130841,222.71963800000000333,-16.04177699999999973,2016-08-21,NaN
449,Zubenelhakrabi,Zubenelhakrabi,HR 5787,gam,γ,Lib,A,15355-1447,3.91,V,76333,138905,233.88157799999999042,-14.78953600000000002,2017-09-05,NaN
450,Zubeneschamali,Zubeneschamali,HR 5685,bet,β,Lib,_,_,2.61,V,74785,135742,229.25172399999999584,-9.38291399999999953,2016-08-21,NaN

In [59]:
cond = (data['Name/ASCII'] == 'Aldebaran')
cond.sum()

1

In [60]:
D2H(data[cond]['RA(J2000)']/15)

'04:35:55.239'

In [64]:
i=0
for des in data['Designation']:
    if 'HR' not in des:
        print(des)
        i+=1
print(i)

XO-5
HD 168746
HD 43197
WASP-34
WASP-52
HD 102956
HD 131496
WASP-64
HD 224693
HD 18742
HD 133086
GJ 699
HD 181342
HD 8574
HAT-P-15
HD 86081
HD 206610
HD 38283
HD 16175
HD 63454
WASP-50
HAT-P-5
HD 192699
HD 1502
HD 52265
HD 4208
HD 96063
WASP-17
WASP-72
HD 117618
HAT-P-3
HD 218566
HD 7199
BD-17 63
HD 102195
HD 100655
HAT-P-14
HD 109246
HD 73534
PSR B0633+17
WASP-13
HD 179949
HD 28678
HAT-P-38
HD 98219
HAT-P-2
HD 82886
HD 156411
HD 20868
WASP-38
HD 208487
HD 83443
HD 145457
HD 137388
HD 175541
HIP 12961
XO-4
HAT-P-42
PSR B1257+12
HD 118203
HD 212771
HD 45350
HD 45652
HD 93083
HD 32518
HD 152581
WASP-39
WASP-6
HAT-P-21
XO-1
HD 130322
WASP-79
WASP-60
HAT-P-23
HD 30856
WASP-71
HAT-P-29
WASP-62
HD 68988
HD 85390
HD 6434
HD 49674
HD 136418
HD 48265
HD 17156
WASP-15
HD 149026
WASP-32
WASP-80
HD 192263
HD 164604
TrES-3
HD 221287
GJ 551
HD 153950
HD 149143
HD 100777
HD 205739
HAT-P-34
HD 99109
HIP 79431
HD 181720
BD+14 4559
HAT-P-6
HD 75898
HAT-P-40
WASP-21
HD 63765
HAT-P-9
HD 148427
WASP-161
WASP-22
HAT-P-36
HD 108147
HD 23079
HD 102117
HD 231701
HD 173416
118

In [65]:
Montu._wget('https://raw.githubusercontent.com/mirandadam/iau-starnames/master/catalog_data/IAU-CSN.json','IAU-CSN.json')

171kB [00:00, 20.0MB/s]

In [71]:
data = pd.read_json('IAU-CSN.json')
data

,Name/ASCII,Name/Diacritics,Designation,ID,ID/Diacritics,Con,#,WDS_J,mag,bnd,HIP,HD,RA(J2000),Dec(J2000),Date,notes
0,Absolutno,Absolutno,XO-5,_,_,Lyn,_,_,11.95,G,_,_,116.71650599999999542,39.09457199999999943,2019-12-17,
1,Acamar,Acamar,HR 897,tet01,θ1,Eri,A,02583-4018,2.88,V,13847,18622,44.56531100000000123,-40.30467199999999650,2016-07-20,*
2,Achernar,Achernar,HR 472,alf,α,Eri,A,_,0.45,V,7588,10144,24.42852299999999843,-57.23675300000000021,2016-06-30,
3,Achird,Achird,HR 219,eta,η,Cas,A,00491+5749,3.46,V,3821,4614,12.27621300000000026,57.81518700000000166,2017-09-05,
4,Acrab,Acrab,HR 5984,bet,β,Sco,Aa,16054-1948,2.56,V,78820,144217,241.35929999999999040,-19.80545299999999997,2016-08-21,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,Zibal,Zibal,HR 984,zet,ζ,Eri,Aa,03158-0849,4.80,V,15197,20320,48.95843599999999896,-8.81973100000000088,2016-09-12,
447,Zosma,Zosma,HR 4357,del,δ,Leo,_,11141+2031,2.56,V,54872,97603,168.52708899999998948,20.52371799999999880,2016-07-20,
448,Zubenelgenubi,Zubenelgenubi,HR 5531,alf02,α2,Lib,Aa,14509-1603,2.75,V,72622,130841,222.71963800000000333,-16.04177699999999973,2016-08-21,
449,Zubenelhakrabi,Zubenelhakrabi,HR 5787,gam,γ,Lib,A,15355-1447,3.91,V,76333,138905,233.88157799999999042,-14.78953600000000002,2017-09-05,
450,Zubeneschamali,Zubeneschamali,HR 5685,bet,β,Lib,_,_,2.61,V,74785,135742,229.25172399999999584,-9.38291399999999953,2016-08-21,

In [75]:
(data.HIP == '_').sum()

40

Conclusion:

- Star names are really a nightmare.
- We have all the name of stars approved by IAU in `IAU-CSN.json`. This include RA(J2000), Dec(J2000), mag. The file can be obtained from: https://raw.githubusercontent.com/mirandadam/iau-starnames/master/catalog_data/IAU-CSN.json. The source of this file is https://www.pas.rochester.edu/~emamajek/WGSN/IAU-CSN.txt. 
- We have a file with the proper motions of stars having HIP number. It comes from Stellarium (cross-id.dat).
- The data for the rest of the stars can be obtained from the HR catalogue.
- We can obtain also the data from the HIP catalogue: http://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=I/239/hip_main&-out.max=50&-out.form=HTML%20Table&-out.add=_r&-out.add=_RAJ,_DEJ&-sort=_r&-oc.form=sexa.

In [80]:
pd.read_csv('hip_catalogue.tsv',sep=';',header=74)

,_RAJ2000,_DEJ2000,HIP,RAhms,DEdms,Vmag,RAICRS,DEICRS,Plx,pmRA,pmDE,e_Plx,B-V,HD,BD,_RA.icrs,_DE.icrs
0,000.0008992088,+01.0890087506,1,00 00 00.22,+01 05 20.4,9.10,000.00091185,+01.08901332,3.54,-5.20,-1.88,1.39,0.482,224700,B+00 5077,000.00089921,1.08900875000000008
1,000.0042646079,-19.4988397098,2,00 00 00.91,-19 29 55.8,9.27,000.00379737,-19.49883745,21.90,181.21,-0.93,3.10,0.999,224690,B-20 6688,000.00426461,-19.49883970999999860
2,000.0050243058,+38.8592790071,3,00 00 01.20,+38 51 33.4,6.61,000.00500795,+38.85928608,2.81,5.24,-2.91,0.63,-0.019,224699,B+38 5108,000.00502431,38.85927901000000162
3,000.0086292358,-51.8935457309,4,00 00 02.01,-51 53 36.8,8.06,000.00838170,-51.89354612,7.75,62.85,0.16,0.97,0.370,224707,,000.00862924,-51.89354572999999959
4,000.0099734379,-40.5912023549,5,00 00 02.39,-40 35 28.4,8.55,000.00996534,-40.59122440,2.87,2.53,9.07,1.11,0.902,224705,,000.00997344,-40.59120235000000321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118213,359.9637384691,+11.6737137399,118318,23 59 51.30,+11 40 25.4,6.99000000000000021,359.96374383,+11.67370866,1.92,-2.16,2.09,0.91,1.595,224673,B+10 5018,359.96373847,11.67371374000000017
118214,359.9743036244,-22.4281133863,118319,23 59 53.74,-22 25 41.4,8.23000000000000043,359.97391252,-22.42818030,10.63,148.74,27.53,1.17,0.639,224693,,359.97430362,-22.42811339000000004
118215,359.9761085932,+05.9565521586,118320,23 59 54.25,+05 57 23.9,7.58999999999999986,359.97605747,+05.95663786,5.00,20.92,-35.26,1.01,0.999,224689,B+05 5245,359.97610859,5.95655216000000021
118216,359.9794582858,-64.3723134380,118321,23 59 54.78,-64 22 21.3,9.19999999999999929,359.97823891,-64.37257220,19.22,216.99,106.46,1.00,0.698,224685,,359.97945829,-64.37231343999999922
118217,359.9790778197,-65.5771320140,118322,23 59 54.91,-65 34 37.5,4.49000000000000021,359.97879195,-65.57707774,8.71,48.63,-22.33,0.57,-0.075,224686,,359.97907782,-65.57713200999999970