# Montu Python
## Astronomical ephemerides for the Ancient World
## Time: Basic functionalities

In [1]:
import montu
print(montu.version)

allstars = montu.Stars()

%load_ext autoreload
%autoreload 2

Running MontuPython version 0.9.6
0.9.6

## Aldebaran declination and Senenmut temple

In [72]:
Aldebaran = allstars.get_stars(ProperName = 'Aldebaran')

In [73]:
mtime = montu.Time('BCE1472-01-01 00:00:00')
senenmut = montu.Observer(lon=32, lat=26, height=0.089)
print(mtime.get_readable())

Montu Time Object:
--------------------------
Readable:
    Date in proleptic UTC: -1471-01-01 00:00:00.0000
    Date in mixed UTC: -1471-01-14 00:00:00
    Date in SPICE format: 1472 B.C. 01-01 00:00:00.00
    Date in caniucular format: hrw 1310-I-Peret-22
    Components: [-1, 1471, 1, 1, 0, 0, 0, 0]
Objects:
    Date in datetime64 format: -1471-01-01T00:00:00.000000
    Date in PyPlanet Epoch: 1183788.5
    Date in PyEphem Epoch: -1472/1/14 00:00:00
General:
    Is bce: True
    Is Julian: True
Uniform scales:
    Terrestrial time:
        tt: -109534126961.8
        jtd: 1183788.9009051
        htd: 478291.40090509993
    UTC time:
        et: -109534161600.0
        jed: 1183788.5
        hed: 478291.0
    Delta-t = TT - UTC = 34638.2

Location of Aldebaran in the sky:

In [74]:
Aldebaran.where_in_sky(at=mtime,observer=senenmut)

,MN,HD,HR,HIP,Gl,Name,OtherDesignations,ProperName,Bayer,Flamsteed,...,tt,jed,RAJ2000t,DecJ2000t,RAEpoch,DecEpoch,HA,az,el,zen
14,15,29139,1457,21421,Gl 171.1A,Aldebaran,87 Tau/87Alp Tau/Aldebaran/Gl 171.1A/HD 29139/...,Aldebaran,α Tau,87 Tau,...,-1.095341e+11,1183788.5,4.594642,16.691872,1.472892,3.293294,7.332279,282.103714,-16.348674,106.348674

In [75]:
montu.Util.dec2hex(Aldebaran.data.DecEpoch.iloc[0]), montu.Util.dec2hex(Aldebaran.data.DecJ2000.iloc[0])

('03:17:35.858', '16:30:33.484')

This confirm the fact that Aldebaran was at 3 degrees of declination.

In [76]:
Aldebaran.data.RAEpoch.iloc[0],Aldebaran.data.DecEpoch.iloc[0]

(1.4728921279394127, 3.2932937831486404)

Let's test that we can invert from az, el to RA, Dec

In [78]:
az, el = montu.Util.where_in_sky(Aldebaran.data.RAEpoch.iloc[0],Aldebaran.data.DecEpoch.iloc[0],at=mtime,observer=senenmut)
az, el

7.332278661086613 8.805170789026025

(282.10371441686937, -16.348674434537937)

In [79]:
montu.Util.where_in_equator(az=az,el=el,at=mtime,observer=senenmut)

(1.4728921279394118, 3.293293783148654)

Which is a perfect inversion

Now let's see what is the declination of a point with the azimuth and elevation of the entrance to the Senenmut temple:

In [80]:
site = montu.Observer(lon=32,lat=25.75,height=0)
montu.Util.where_in_equator(az=99,el=25,at=mtime.add(10000),observer=site)

(15.837783216950731, 3.204820559499014)

Let's now calculate which stars are in this declination, first we need to precess the position of all starrs:

In [42]:
allstars.where_in_space(at=mtime,inplace=True)

Now select the stars with a declination in the range:

In [44]:
allstars.get_stars(DecEpoch=[3,3.5],Vmag=[-2,4])

4 star(s):
|     |   MN |     HD |   HR |   HIP | Gl        | Name           | OtherDesignations                                                                     | ProperName     | Bayer   | Flamsteed   | Constellation   |   RAJ2000 |   DecJ2000 |    pmRA |   pmDec |   RadVel |   Distance |   Vmag |   Vmag_min |   Vmag_max |   B-V | SpType   |   Luminosity |   XJ2000 |   YJ2000 |    ZJ2000 |    VXJ2000 |    VYJ2000 |    VZJ2000 |   Primary | MultipleID   |   IsMultiple |   IsVariable |           tt |         jed |   RAJ2000t |   DecJ2000t |   RAEpoch |   DecEpoch |
|-----|------|--------|------|-------|-----------|----------------|---------------------------------------------------------------------------------------|----------------|---------|-------------|-----------------|-----------|------------|---------|---------|----------|------------|--------|------------|------------|-------|----------|--------------|----------|----------|-----------|------------|------------|------------|-----------|--------------|--------------|--------------|--------------|-------------|------------|-------------|-----------|------------|
|  14 |   15 |  29139 | 1457 | 21421 | Gl 171.1A | Aldebaran      | 87 Tau/87Alp Tau/Aldebaran/Gl 171.1A/HD 29139/HIP 21421/HR 1457/HYG 21368/MN 15/α Tau | Aldebaran      | α Tau   | 87 Tau      | Tau             |   4.59868 |   16.5093  |   62.78 | -189.36 |     54.5 |    20.4332 |   0.87 |      0.888 |      0.858 | 1.538 | K5III    |    163.23    |  7.02722 |  18.2876 |  5.80666  | -2.14e-06  |  5.709e-05 |  1.528e-05 |     21368 | Gl 171.1     |            1 |            1 | -1.09534e+11 | 1.18379e+06 |    4.59464 |    16.6919  |   1.47289 |    3.29329 |
| 219 |  220 | 168723 | 6869 | 89962 | Gl 711    | η Ser          | 58 Ser/58Eta Ser/Gl 711/HD 168723/HIP 89962/HR 6869/HYG 89683/MN 220/η Ser            | nan            | η Ser   | 58 Ser      | Ser             |  18.3552  |   -2.89882 | -547.57 | -700.72 |      6.9 |    18.5426 |   3.23 |    nan     |    nan     | 0.941 | K0III-IV |     15.2897  |  1.71946 | -18.4389 | -0.937748 | -6.326e-05 | -8.42e-06  | -4.865e-05 |     89684 | nan          |            0 |            0 | -1.09534e+11 | 1.18379e+06 |   18.3904  |    -2.22323 |  15.4391  |    3.18501 |
| 251 |  252 | 182640 | 7377 | 95501 | Gl 760    | δ Aql          | 30 Aql/30Del Aql/Gl 760/HD 182640/HIP 95501/HR 7377/HYG 95206/MN 252/δ Aql            | nan            | δ Aql   | 30 Aql      | Aql             |  19.425   |    3.11477 |  253.06 |   80.67 |    -29.9 |    15.5255 |   3.36 |    nan     |    nan     | 0.319 | F0IV     |      9.50605 |  5.65003 | -14.436  |  0.843584 |  4.4e-06   |  3.568e-05 |  6.49e-06  |     95207 | nan          |            0 |            0 | -1.09534e+11 | 1.18379e+06 |   19.4087  |     3.037   |  16.5174  |    3.26616 |
| 394 |  395 |  27697 | 1373 | 20455 | nan       | Secunda Hyadum | 61 Tau/61Del1Tau/HD 27697/HIP 20455/HR 1373/HYG 20405/MN 395/Secunda Hyadum/δ1 Tau    | Secunda Hyadum | δ1 Tau  | 61 Tau      | Tau             |   4.38225 |   17.5425  |  107.75 |  -28.84 |     39   |    47.7099 |   3.77 |    nan     |    nan     | 0.983 | G8III    |     61.546   | 18.696   |  41.472  | 14.3805   |  5.66e-06  |  4.675e-05 | -6.26e-06  |     20405 | nan          |            0 |            0 | -1.09534e+11 | 1.18379e+06 |    4.37532 |    17.5703  |   1.25508 |    3.42482 |

That confirms that Aldebaran is the star.

## Date of the winter solstice in times of Senenmut

Let's compute first the date of the seasons at the interesting year:

In [63]:
sun = montu.Sun()
mtime=montu.Time('bce1479-01-01 00:00:00')
ss = sun.next_seasons(at=mtime)
for s in ss:
    stime = montu.Time(s,format='jd').get_readable()
    print(stime.readable.datespice,stime.rebadable.datecan)

1479 B.C. 03-21 15:22:19.700000 hrw 1303-IV-Peret-9
1479 B.C. 06-23 22:37:50.300000 hrw 1303-III-Shemu-13
1479 B.C. 09-23 03:46:48.00 hrw 1304-II-Akhet-10
1479 B.C. 12-20 12:51:54.00 hrw 1304-I-Peret-8

This confirms that the winter solstice is in I-Peret, but at day 8 and not day 6 as in Tito's thesis.

## Azimut of the sun at sunrise during winter solstice

We will investigata the claim that at winter solstice the azimut of the sun is different from the orientation of the Montuhotep-II temple:

In [83]:
sun = montu.Sun()
mtime=montu.Time('bce2050-01-01 00:00:00')
ss = sun.next_seasons(at=mtime)
mtime_winter = montu.Time(ss[-1],format='jd').get_readable()
mtime_winter

Time('-2049-12-20 17:16:12.3000'/'-2048-01-06 17:16:16'/'hrw 732-IV-Shemu-24'/JED 973031.2195868/JTD 973031.7734826)

Let's compute the position of the sun at the day of the winter solstice:

In [88]:
sun.condition

{'tt': -127743542771, 'jed': 973031.2195868, 'Name': 'Sun', 'ha': 7.262764128678882, 'Vmag': -26.8, 'rise_time': 973030.6996058573, 'rise_az': 116.52566369343715, 'set_time': 973031.1341546485, 'set_az': 243.47315787155992, 'transit_time': 973030.9168810539, 'transit_el': 40.084252634878375, 'elongation': 0.0, 'earth_distance': 0.9895421862602234, 'sun_distance': 0.0, 'is_circumpolar': False, 'is_neverup': False, 'angsize': 1939.54443359375, 'phase': 100.0, 'hlat': -5.9742855190132e-05, 'hlon': 90.00173737252734, 'hlong': 90.00173737252734}

In [92]:
sun.where_in_sky(at=mtime_winter,observer=senenmut)
sun.conditions_in_sky(at=mtime_winter,observer=senenmut)
dec = sun.position.DecEpoch
rise_az = sun.condition.rise_az
rise_az - 90, dec

(26.525663693437153, -23.933823942723922)

Obliquity for the time is:

In [102]:
from pyplanets.core.coordinates import true_obliquity as pyplanets_true_obliquity
epsilon = pyplanets_true_obliquity(mtime.obj_pyplanet)
epsilon

Angle(23.930957074243345)

According to sin law 

$$
\sin\Delta A = \sin\delta / \cos\epsilon
$$

In [109]:
import numpy as np
deltaA = np.arcsin(np.sin(abs(dec)*montu.DEG)/np.cos(senenmut.lat*montu.DEG))*montu.RAD
deltaA

26.831084780194047

The difference between $\Delta A$ and $\delta$ for small values of $\delta$ is:

$$
|\Delta A - \delta| = \delta\left|\frac{1}{\cos \varphi} - 1\right|
$$

In [114]:
abs(dec)*montu.DEG*(1/np.cos(senenmut.lat*montu.DEG) - 1)*montu.RAD

2.6949950189422474

## Montuemhat tomb, TT33

In [117]:
montuemhat = montu.Observer(lon=32.5,lat=25.75,height=0.116)
mtime = montu.Time('2021-05-26 07:00:00')
sun.where_in_sky(at=mtime,observer=montuemhat)
sun.position

{'tt': 675284472, 'jed': 2459360.7916666, 'Name': 'Sun', 'RAJ2000': 4.201918941681491, 'DecJ2000': 21.123846092039695, 'RAEpoch': 4.2222964942422, 'DecEpoch': 21.175976049635295, 'RAGeo': 4.222193002015081, 'DecGeo': 21.17636141039897, 'el': 51.585519385803636, 'az': 87.86147027534717}

In [118]:
montu.Util.dec2hex(sun.position.az)

'87:51:41.293'

In [124]:
montu.Util.where_in_equator(az=92.5,el=23.26,at=mtime,observer=montuemhat)

(13.34557131397417, 7.7857746514419635)

In [123]:
mtime = montu.Time('bce650-01-01 00:00:00')
Aldebaran.where_in_space(at=mtime)

,MN,HD,HR,HIP,Gl,Name,OtherDesignations,ProperName,Bayer,Flamsteed,...,Primary,MultipleID,IsMultiple,IsVariable,tt,jed,RAJ2000t,DecJ2000t,RAEpoch,DecEpoch
14,15,29139,1457,21421,Gl 171.1A,Aldebaran,87 Tau/87Alp Tau/Aldebaran/Gl 171.1A/HD 29139/...,Aldebaran,α Tau,87 Tau,...,21368,Gl 171.1,1,1,-8.359436e+10,1484017.5,4.595597,16.648636,2.17739,7.363492

## Tutmosis III

In [126]:
montuemhat = montu.Observer(lon=32.5,lat=25.75,height=0.116)
mtime = montu.Time('bce1425-05-26 07:00:00')
montu.Util.where_in_equator(az=350,el=40,at=mtime,observer=montuemhat)

(23.5645925212547, 73.48566392640559)

In [127]:
allstars.where_in_space(at=mtime,inplace=True)

In [128]:
allstars.get_stars(DecEpoch=[72,74],Vmag=[-2,4])

6 star(s):
|     |   MN |     HD |   HR |   HIP | Gl       | Name    | OtherDesignations                                                                 | ProperName   | Bayer   | Flamsteed   | Constellation   |   RAJ2000 |   DecJ2000 |    pmRA |   pmDec |   RadVel |   Distance |   Vmag |   Vmag_min |   Vmag_max |   B-V | SpType   |   Luminosity |   XJ2000 |     YJ2000 |   ZJ2000 |    VXJ2000 |    VYJ2000 |   VZJ2000 |   Primary | MultipleID   |   IsMultiple |   IsVariable |           tt |        jed |   RAJ2000t |   DecJ2000t |   RAEpoch |   DecEpoch |
|-----|------|--------|------|-------|----------|---------|-----------------------------------------------------------------------------------|--------------|---------|-------------|-----------------|-----------|------------|---------|---------|----------|------------|--------|------------|------------|-------|----------|--------------|----------|------------|----------|------------|------------|-----------|-----------|--------------|--------------|--------------|--------------|------------|------------|-------------|-----------|------------|
|  38 |   39 |  95689 | 4301 | 54061 | nan      | Dubhe   | 50 UMa/50Alp UMa/Dubhe/HD 95689/HIP 54061/HR 4301/HYG 53905/MN 39/α UMa           | Dubhe        | α UMa   | 50 UMa      | UMa             |   11.0622 |    61.751  | -136.46 |  -35.25 |     -9   |    37.679  |   1.81 |    nan     |    nan     | 1.061 | F7V comp |     233.346  | -17.2987 |   4.33488  |  33.1913 | -1.116e-05 |  2.45e-05  |  4.78e-06 |     53905 | nan          |            0 |            0 | -1.08038e+11 | 1.2011e+06 |    11.0708 |     61.7846 |   5.61132 |    73.2123 |
|  71 |   72 | 116656 | 5054 | 65378 | GJ 3783A | Mizar   | 79 UMa/79Zet UMa/GJ 3783A/HD 116656/HIP 65378/HR 5054/HYG 65172/MN 72/Mizar/ζ UMa | Mizar        | ζ UMa   | 79 UMa      | UMa             |   13.3987 |    54.9254 |  121.23 |  -22.01 |     -5.6 |    26.3089 |   2.23 |      2.336 |      2.196 | 0.057 | A2V      |      77.3393 | -14.1158 |  -5.4133   |  21.5313 | -6.3e-06   | -1.408e-05 |  6.46e-06 |     65173 | GJ 3783      |            1 |            1 | -1.08038e+11 | 1.2011e+06 |    13.3911 |     54.9463 |  10.389   |    73.6717 |
| 233 |  234 | 137759 | 5744 | 75458 | nan      | Edasich | 12 Dra/12Iot Dra/Edasich/HD 137759/HIP 75458/HR 5744/HYG 75228/MN 234/ι Dra       | Edasich      | ι Dra   | 12 Dra      | Dra             |   15.4155 |    58.9661 |   -8.27 |   17.3  |    -11   |    31.027  |   3.29 |    nan     |    nan     | 1.166 | K2III    |      40.5135 | -10.016  | -12.4718   |  26.5858 | -8.3e-06   |  7.04e-06  |  4.06e-06 |     75229 | nan          |            0 |            0 | -1.08038e+11 | 1.2011e+06 |    15.416  |     58.9496 |  14.4815  |    72.9252 |
| 240 |  241 | 106591 | 4660 | 59774 | Gl 459   | Megrez  | 69 UMa/69Del UMa/Gl 459/HD 106591/HIP 59774/HR 4660/HYG 59591/MN 241/Megrez/δ UMa | Megrez       | δ UMa   | 69 UMa      | UMa             |   12.2571 |    57.0326 |  103.56 |    7.81 |    -13.4 |    24.6853 |   3.32 |    nan     |    nan     | 0.077 | A3Vvar   |      24.9345 | -13.4023 |  -0.903455 |  20.7104 | -1.099e-05 | -1.181e-05 |  9.06e-06 |     59592 | nan          |            0 |            0 | -1.08038e+11 | 1.2011e+06 |    12.2505 |     57.0252 |   8.02785 |    73.832  |
| 496 |  497 | 116657 | 5055 |     0 | GJ 3784B | ζ UMa   | 79 UMa/79Zet UMa/GJ 3784B/HD 116657/HR 5055/HYG 118882/MN 497/ζ UMa               | nan          | ζ UMa   | 79 UMa      | UMa             |   13.399  |    54.9205 |  105.74 |  -30.32 |     -9.3 |    24.1546 |   3.95 |    nan     |    nan     | 0.13  | A1 m     |      13.366  | -12.9609 |  -4.97159  |  19.7667 | -9.82e-06  | -1.064e-05 |  6.82e-06 |    118887 | GJ 3784      |            1 |            0 | -1.08038e+11 | 1.2011e+06 |    13.3923 |     54.9493 |  10.3915  |    73.675  |
| 519 |  520 | 116842 | 5062 | 65477 | GJ 3785  | Alcor   | 80 UMa/Alcor/GJ 3785/HD 116842/HIP 65477/HR 5062/HYG 65271/MN 520                 | Alcor        | nan     | 80 UMa      | UMa             |   13.4204 |    54.988  |  120.35 |  -16.94 |     -8.9 |    25.0564 |   3.99 |    nan     |    nan     | 0.169 | A5V SB   |      13.8676 | -13.3934 |  -5.22361  |  20.5219 | -8.64e-06  | -1.233e-05 |  8.61e-06 |     65272 | nan          |            0 |            0 | -1.08038e+11 | 1.2011e+06 |    13.4128 |     55.0041 |  10.4331  |    73.7332 |

In [ ]:
sun.where_in_sky

## Possible solar alignment of TT353

In [150]:
montuemhat = montu.Observer(lon=32.5,lat=25.75,height=0.116)
mtime = montu.Time('bce1460-03-28 06:00:00')
sun.where_in_sky(at=mtime,observer=montuemhat)
sun.position.el

29.430363058046993

In [133]:
mtime = montu.Time('bce1479-01-01 06:00:00')
mtime

Time('-1478-01-01 06:00:00.0000'/'-1478-01-14 06:00:00'/'hrw 1303-I-Peret-20'/JED 1181231.75/JTD 1181232.1526134)

In [140]:
mtime = montu.Time('hrw1310-IV-Peret-2 00:00:00',calendar='caniucular')
mtime

Time('-1471-03-12 00:00:00.0000'/'-1471-03-25 00:00:00'/'hrw 1310-IV-Peret-2'/JED 1183858.5/JTD 1183858.9009051)